# Compilação do .NET
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Arquivos temporários
*.tmp
*.temp
*.log

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de configuração local
appsettings.Development.json

# JetBrains Rider / ReSharper
.idea/
*.sln.iml